@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.header{
    display: flex;
    justify-content: space-between;
    padding:10px;
    font-family: 'Poppins',sans-serif;
    background-color: rgb(255, 115, 139);
}
.header-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-right{
    display: flex;
    align-items: center;
    gap: 10px;
}